selector (id, class, tag name) {
  propert-name: valuel
  propert-name: valuel
  propert-name: valuel
  propert-name: valuel
  propert-name: valuel
}


h1 .name {
  propert-name: valuel
  propert-name: valuel
  propert-name: valuel
  propert-name: valuel
  propert-name: valuel
}
